.App {
  text-align: center;
  background: #eef0f8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e2e2e2;
  /* min-height: 100vh; */
  padding:20px;
  box-shadow: 0 0 5px #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content-holder { margin-top:30px}

.post.card.col-sm-3 { 
  box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
  float:left; 
  margin:10px 30px;
  min-height: 150px;
  padding:0;
}

.post.card.col-sm-3 > .card-content > img { width: 100% ; border-radius: .25rem .25rem 0 0;}

.card-content ul.cat-content {  padding:10px ; margin-bottom:10px }
.card-content .cat-content li{ list-style: none; text-align:left;  }


.deactiveUser{opacity: 0.4; position:relative}
.deactiveUser td { position: relative;}
.deactiveUser .btnActivateUser {
  position: absolute;
    top: 0;
    color: #ff0000;
    z-index: 99;
    display: block;
    background: #000;
    width: 100%;
    left: 0;
    height: 100%;
    cursor:pointer;
    padding-top: 25px;
}

.activeUser .btnActivateUser { display:none }

.img-sml {width:150px}

.m20 {margin:20px 0}

.radius10 { border-radius: 10px;}

.hide {display:none!important}


.table-bordered thead td, 
.table-bordered thead th,
.table-bordered td {
  border: 1px solid #4d5761 !important
}

.loadingBar {
  position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
}


.col input { width:100%}
.btn-primary.float-sm-right { float:right;}